<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Stocks & Prices</title>
</head>
<body style="background-color: #2C3335; color: white;">
<div>
    <form  action="/" method="POST" class="max-w-sm mx-auto">
        <p class="text-center mb-2 text-3xl">Add Stocks</p>
        <div class="mb-5">
            <label for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock Name</label>
            <input type="text" name="Name" id="Name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="tatamotors" required>
        </div>
        <div class="mb-5">
            <label for="Price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock Price</label>
            <input type="number" name="Price" step="0.01" id="Name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="500.00" required>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add</button>
    </form>

    <div class="flex flex-row">
        <!-- Master 0 -->
        <div class="relative overflow-x-auto w-2/4 m-4">
            <p class="text-center mb-2 text-3xl">Master 0 [a-m]</p>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Stock Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Price
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Country
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{range .M0Stocks}}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{.Name}}
                        </th>
                        <td class="px-6 py-4">
                            ₹{{.Price}}
                        </td>
                        <td class="px-6 py-4">
                            India
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <!-- Master 1 -->
        <div class="relative overflow-x-auto w-2/4	m-4">
            <p class="text-center mb-2 text-3xl">Master 1 [n-z]</p>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Stock Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Price
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Country
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{range .M1Stocks}}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{.Name}}
                        </th>
                        <td class="px-6 py-4">
                            ₹{{.Price}}
                        </td>
                        <td class="px-6 py-4">
                            India
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>    
</body>
</html>
